/*
 * Copyright (c) 2023 Google LLC
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&i2c0 {
        clock-frequency = <I2C_BITRATE_STANDARD>;

        bma422@19 {
                compatible = "bosch,bma4xx", "bosch,bma422";

                /* If SDO pin low, addr is 0x18; if high, addr is 0x19 */
                reg = <0x19>;
		status = "okay";
        };
};
